<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    function Recherche() {
      
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("Larecherche");
      filter = input.value.toUpperCase();
      table = document.getElementById("Lesskins");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
</head>
<div id="page">
  <div class="footerr">
      <footer>
          <ul class="boutonfooter">
              <li class="bouton"><a href="/">Accueil</a></li>
              <li class="bouton"><a href="#">A propos</a></li>
              <li class="bouton"><a href="/infoleg">Informations légales</a></li>
          </ul>
      </br>
          <p class="copyright">Skins FARMERS @ 2020</p>
      </footer>
  </div>
</div>
</body>
</html>