<!DOCTYPE html>
<html lang="fr">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<div id="page">
  <div class="footerr">
      <footer>
          <ul class="boutonfooter">
              <li class="bouton"><a href="/">Accueil</a></li>
              <li class="bouton"><a href="#">A propos</a></li>
              <li class="bouton"><a href="/infoleg">Informations légales</a></li>
          </ul>
      </br>
          <p class="copyright">Skins FARMERS @ 2020</p>
      </footer>
  </div>
</div>
</body>
</html>