
<%- include('header.ejs') %>
<body>
        <div class="container p-5">    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="introsignup">Sign In</div>
                    </div>    
                    <div style="padding-top:30px">
                        <% if (message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12"><%= message %></div>
                <% } %>
                        <form id="loginform" role="form" method="post" action="/login"></br>
                            <div class="infologin">
                                        <input type="text"  name="user_name" value="" placeholder="username" aria-label="pseudo" autofocus>                                       
                                    </div>
                            <div class="infologin">
                                        <input type="password"  name="password" placeholder="password" aria-label="mot de passe">
                                    </div>
                            <div class="infologin">
                                    </div>
                                <div style="margin-top:10px" class="form-group">
                                    <!--bouton-->
                                    <div class="login">
                                      <button id="login" type="submit" class="btn btn-success">Login  </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div class="pascompte" > Don't have an account ? <a href="/signup">Sign Up Here</a>
                                        </div>
                                    </div>
                                </div>   
                            </form>    
                        </div>                    
                    </div> 
        </div>
    </div>
    <%- include('footer.ejs') %>