<%- include('header.ejs') %>
<div></br></br>
<p class="introsignup" id="infoleg">
    Votre vie privée est importante pour nous!
Lorsque vous visitez notre site, des compagnies pré-sélectionnées peuvent accéder à certaines informations sur votre appareil 
et sur cette page Web et les utiliser pour diffuser des annonces pertinentes ou du contenu personnalisé. Veuillez noter 
que ces annonces nous permettent de maintenir notre service gratuit. Les données personnelles seront traitées sur la base 
du consentement conformément à l'article 6, paragraphe 1, point a) du RGPD dans le cadre du droit européen, ou en tant qu'
intérêt légitime conformément à l'article 6, paragraphe 1, point f) du même règlement.
Comprenez pourquoi vous voyez cela
Nous, «l'éditeur» et un groupe de partenaires de confiance choisis désignés les «fournisseurs», 
avons besoin de votre consentement à des fins de traitement des données, telles que la configuration des 
cookies ou l'accès aux informations sur l'appareil. Cela inclus par exemple, l'accès à votre position et
 les cookies tiers pour comprendre vos intérêts et vous offrir une meilleure expérience de navigation sur 
 notre site internet. Cela nous permet de vous montrer des annonces plus pertinentes pour vous ainsi que d'
 évaluer les paramètres de performance. Afin de gérer ces paramètres de confidentialité, nous utilisons une 
 plateforme de gestion du consentement (PGC) pour obtenir votre consentement explicite. Ces informations relatives 
 au consentement seront stockées sur votre appareil sous forme de cookies codés. Après leur création initiale, vous 
 ne serez plus invité à donner votre consentement à moins que les conditions ne changent. Vous pouvez modifier vos 
 préférences à tout moment. Pour cela, vous trouverez un lien sur la page Politique de confidentialité de notre site.
</p>
</div>
<%- include('footer.ejs') %>
